.Card {
  height: 40vh;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: start;
  border-radius: 12px;
  background-color: white;
  box-shadow:
    0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12),
    0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.CardPic {
  height: 60%;
  width: 100%;
  background-color: #f5f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.cardContent {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  height: 40%;
  row-gap: 10px;
}
.cardContent > * {
  margin: 0;
}
.cardContent > h2 {
  font-size: 20px;
  margin-top: 10px;
}
.plantAttributes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.attribute {
  display: flex;
  flex-direction: row;
}
.attribute > * {
  margin: 0;
  font-size: 14px;
}
